@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$font-display: "Press Start 2P", cursive;
$color-display: #f9d71c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/images/space-invaders-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

    img {
        width: 470px;
        height: 400px;
    }

    &__logo {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #button-container {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__button {
        padding: 10px;
        width: 200px;
        height: 60px;
        font-family: "Press Start 2P", cursive;
        font-size: 1.8em;
        color: #f9d71c;
        background: transparent;
        border: 2px solid white;
        border-radius: 20%;
        cursor: pointer;
        animation: glowing 1300ms infinite;
    }
}
@keyframes glowing {
  0% {
    background-color: #00ffff;
    box-shadow: 0 0 5px #00ffff;
  }
  50% {
    background-color: #ff00ff;
    box-shadow: 0 0 20px #ff00ff;
  }
  100% {
    background-color: #feff04;
    box-shadow: 0 0 5px #feff04;
  }
}
  